<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body bgcolor="Aqua">
	<h1>Register Page</h1>
	<fieldset>
	
      <form action="#" th:action="@{/signup}" th:object="${voting}" method="post">
          <p>id: <input type="text" th:field="*{id}" /></p>
    	<p>usrername: <input type="text" th:field="*{usrername}" /></p>
        <p>password: <input type="text" th:field="*{password}"  /></p>
        <p>emailId: <input type="text" th:field="*{emailId}"  /></p>
        <p>phoneno: <input type="text" th:field="*{phoneno}"  /></p>
        
        <p><input type="submit" value="SignUp" /> <input type="reset" value="Reset" /></p>
    </form>
    </fieldset>
</body>
</html>